:root {
  --clr-soft-blue: hsl(215, 51%, 70%);
  --clr-cyan: hsl(178, 100%, 50%);
  --clr-very-dark-blue-main: hsl(217, 54%, 11%); /* main BG */
  --clr-very-dark-blue-card: hsl(216, 50%, 16%); /* card BG */
  --clr-very-dark-blue-line: hsl(215, 32%, 27%); /* line */
  --clr-white: hsl(0, 0%, 100%);

  --ff-outfit: 'Outfit', sans-serif;

  --fw-300: 300;
  --fw-400: 400;
  --fw-600: 600;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  height: auto;
  display: block;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

body {
  min-height: 100vh;
  font-family: var(--ff-outfit);
  font-size: 1.125rem;
  font-weight: var(--fw-400);
  line-height: 1.5;
  background-color: var(--clr-very-dark-blue-main);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 20.3125rem;
  background-color: var(--clr-very-dark-blue-card);
  border-radius: 0.625rem;
  padding: 1.5625rem;
  box-shadow: 0px 21px 37px 6px hsl(212, 52%, 5%);
}

.card-image {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: 0.2s;
  border-radius: 0.625rem;
  background-color: hsla(178, 100%, 50%, 50%);
  opacity: 0;
}

.overlay img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-image:hover .overlay {
  opacity: 1;
}

.card img {
  border-radius: 0.625rem;
}

.card h2 {
  font-size: 1.375rem;
  color: var(--clr-white);
  margin-top: 1.5625rem;
  margin-bottom: 0.625rem;
  transition: 0.2s;
}

.card h2:hover {
  color: var(--clr-cyan);
}

.card p {
  font-size: 1rem;
  color: var(--clr-soft-blue);
  font-weight: var(--fw-300);
}

.card-mid {
  display: flex;
  justify-content: space-between;
  margin-top: 0.9375rem;
  margin-bottom: 0.9375rem;
}

.currency {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.currency p {
  color: var(--clr-cyan);
  font-weight: var(--fw-600);
}

.clock {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.clock p {
  color: var(--clr-soft-blue);
  font-size: 1rem;
  font-weight: var(--fw-400);
}

hr {
  border: none;
  height: 0.0625rem;
  background-color: var(--clr-very-dark-blue-line);
}

.profile {
  display: flex;
  gap: 0.9375rem;
  align-items: center;
  margin-top: 0.9375rem;
}

.profile img {
  width: 2rem;
  border-radius: 50%;
  border: 1px solid var(--clr-white);
}
.profile p {
  font-weight: var(--fw-400);
}

.profile .name {
  color: var(--clr-white);
  transition: 0.2s;
}

.profile .name:hover {
  color: var(--clr-cyan);
}

@media screen and (min-width: 48rem) {
  .card {
    max-width: 21.875rem;
    padding-bottom: 1.875rem;
  }

  .card h2 {
    margin-top: 1.25rem;
    margin-bottom: 0.9375rem;
  }

  .card p {
    font-size: 1.125rem;
  }

  .profile p {
    font-size: 1rem;
  }

  .card-mid {
    margin-top: 1.5625rem;
    margin-bottom: 1.25rem;
  }

  .card-mid p {
    font-size: 1rem;
  }
}
